.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-dialog {
  z-index: 1500;


}

.modal-header {
  cursor: move;
}

.thisModal {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 80% !important;
}
