<div class="row">

    <div class="col-sm">
      <div class="list-group-horizontal-md">
  
        <div class="list-inline-item">
          connection:{{connection_status}}
        </div>
        <div class="list-inline-item">
          session:{{session_status}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="graph-container">
        <ngx-graph
          [links]="edges"
          [nodes]="nodes"
          [layout]="layout"
          [autoZoom]="true"
          [panOnZoom]="true"
          [enableZoom]="true"

  
          (edgeStart)="onEdgeStart($event)"
          (edgeEnd)="onEdgeEnd($event)">
          <ng-template #nodeTemplate let-node>
            <svg:g>
              <svg:rect
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.fill]="node.options.color"
                stroke="#000000"
                stroke-width="1.5"
              ></svg:rect>
              <svg:text
                class="node-label"
                dy=".3em"
                [attr.x]="node.dimension.width/2"
                [attr.y]="node.dimension.width+10"
              >{{ node.label }}</svg:text>
              <svg:g *ngFor="let port of node.ports" class="port-group">
                <svg:rect
                  [attr.width]="16"
                  [attr.height]="16"
                  [attr.x]="port.position.x - 8"
                  [attr.y]="port.position.y - 8"
                  [attr.fill]="'gray'"
                  stroke="#000000"
                  stroke-width="1.5"
                  class="port"
                 
                ></svg:rect>
                <svg:text
                  class="port-label"
                  [attr.x]="port.position.x + 10"
                  [attr.y]="port.position.y + 5"
                >{{ port.label }}</svg:text>
              </svg:g>
            </svg:g>
          </ng-template>
        </ngx-graph>
      </div>
      
  </div>
  <div>
-
  </div>
