<div class="container">
  <div aria-labelledby="offcanvasLabel" class="offcanvas offcanvas-start {{showFile}}" id="offcanvas" tabindex="-1">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h5>
      <button (click)="showNotebook()" aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas"
              type="button"></button>
    </div>
    <div class="offcanvas-body">
      <textarea [value]="jupFileText" style="height: 100vh; width: 100%"></textarea>
    </div>
  </div>

  <div class="row">

    <div class="col-sm">
      <div class="list-group-horizontal-md">

        <div class="list-inline-item">
          connection:{{connection_status}}
        </div>
        <div class="list-inline-item">
          session:{{session_status}}
        </div>
        <button (click)="showNotebook()" aria-controls="offcanvasExample" class="btn btn-success"
                data-bs-target="#offcanvasExample" data-bs-toggle="offcanvas">

          <i class="bi bi-book"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-3">
      <ul class="list-group">
        <li *ngFor="let cell of functions" class="list-group-item">{{cell.metadata.name}}
          <button (click)="addCell(cell)" class="btn btn-secondary float-end">
            <i class="bi bi-{{cell.metadata.icon}}"></i>
          </button>
        </li>

      </ul>
    </div>
    <div class="col col-9">
      <div class="graph-container">
        <ngx-graph
          [links]="edges"
          [nodes]="nodes"
          [layout]="layout"
          [autoZoom]="true"
          [panOnZoom]="true"
          [enableZoom]="true"

    >
          <ng-template #nodeTemplate let-node>
            <svg:g>
              <svg:rect
                [attr.width]="node.dimension.width"
                [attr.height]="node.dimension.height"
                [attr.fill]="node.options?.color??'yellow'"
                stroke="#000000"
                stroke-width="1.5"
                (click)="nodeClick(node)"
              ></svg:rect>
              <svg [innerHTML]="bootstrapIcon(node.icon)" class="{{node.icon}}" fill="red" height="40" viewBox="0 0 16 16"
                   width="40" x="5" y="5"></svg>
              <svg:text
                class="node-label"
                dy=".3em"
                [attr.x]="node.dimension.width/2"
                [attr.y]="node.dimension.width+10"
              >{{ node.label }}</svg:text>
              <svg:g *ngFor="let port of node.ports" class="port-group">
                <svg:rect
                  [attr.width]="16"
                  [attr.height]="16"
                  [attr.x]="port.position.x - 8"
                  [attr.y]="port.position.y - 8"
                  [attr.fill]="'gray'"
                  stroke="#000000"
                  stroke-width="1.5"
                  class="port"
                  (mousedown)="onPortMouseDown($event,node,port)"
                ></svg:rect>
                <svg:text
                  class="port-label"
                  [attr.x]="port.position.x + 10"
                  [attr.y]="port.position.y + 5"
                >{{ port.label }}</svg:text>
              </svg:g>
            </svg:g>
          </ng-template>
        </ngx-graph>
      </div>

    </div>
    <div>
    </div>
  </div>

  <app-modal #cellModal [icon]="selectedCell.metadata.icon" [title]="selectedCell.id">

    <app-cell-properties [cell]="selectedCell"></app-cell-properties>

  </app-modal>


</div>
